*{margin: 0;padding: 0;text-decoration: none;list-style-type: none;}
body{width: 1440px;height: 100%;}
header{background-color: #C4C4C4;width: 1440px;height: 150px}

a{color:#000000}
header li{float: left;padding-left: 37px;margin-left: 37px;margin-top: 63px;}
.slaideri{background-color: #3D3D3D;width: 1440px;height: 400px;}
.slaideri1{padding-left: 633px;padding-top: 188px;color: #FFFFFF;}

.kitxvis{color: #000000;font-size: 8px;padding-top: 15px;}
.surati1{width: 457px;height: 200px;margin-left: 34px;margin-top: 33px;;}
.surati2{width: 457px;height: 200px;margin-left: -4px;}
.surati3{width: 457px;height: 200px;}
.mart1{background-color: #FF9900;width: 457px;height: 148px;margin-left: 34px;margin-bottom: 93px;margin-top: -4px;}
.satauri1{margin-left: 11px;}
.statia1{font-size: 10px;margin-top: 13px;margin-bottom: 41px;margin-left: 11px;}
.statiaq{font-size: 8px;margin-left: 11px;margin-top: -11px;}
.mart2{background-color: #FFC700;width: 457px;height: 148px;margin-left: 491px;margin-top: -241px;}
.satauri2{margin-left: 11px;}
.statia2{font-size: 10px;margin-top: 13px;margin-left: 11px;}
.statiaq1{font-size: 8px;margin-left: 11px;margin-top: 40px;}
.mart3{background-color: #FFE600;width: 457px;height: 148px;margin-left: 948px;margin-top: -148px;}
.mart3 h2{margin-left: 14px;}
.mart3 p{font-size: 10px;margin-top: 13px;margin-left: 11px;}
div .statiaq2{font-size: 8px;margin-top: 50px;}
footer{margin-left: 37px;margin-top: 47px;}
.ukan{margin-top: 13px;margin-left: 45px;color: gray;}
.mart4{background-color: #FF9900;width: auto;height: 150px;margin-top: 13px;margin-left: 37px;margin-right: 33px;}
.mart4 h2{margin-left: 10px;padding-top: 54px;}
.suratebi{margin-top: -33px;margin-left: 3px;}
.surati1{width: 457px;height: 200px;}
.surati2{width: 457px;height: 200px;}
.surati3{width: 457px;height: 200px;margin-left: -5px}
.mart5{background-color:#FF9900;width: 1370px;height: 391px;margin-left: 37px;margin-top: -4px;}
.mart5 p{font-size: 14px;padding-top: 36px;padding-left: 10px;padding-right: 19px;padding-bottom: 31px;}
.mart6{background-color: #FFC700;width: 1370px;height: 150px;margin-top: 41px; margin-left: 37px;}
.mart6 h2{padding-left: 10px;padding-top: 56px;}
.surati4 .surati5{width: 457px;height: 200px;margin-left: 37px;}
.surati6{width: 457px;height: 200px;}
.surati7{width: 457px;height: 200px;margin-left: -5px;}
.mart7{width: 1370px;height: 391px;background-color: #FFC700;margin-top: -4px;;margin-left: 37px;}
.statia7{font-size: 14px;margin-left: 10px;padding-top:  36px;}
.a{margin-left: 45px;color: gray;}

.a8{margin-left: 45px;color: #808080;}
.mart8{background-color: #FFE600;width: 1370px;height: 150px;margin-left: 37px;margin-top: 69px;}
.mart8 h2{padding-left: 10px;padding-top: 56px;}
.mart9 img{width: 457px;height: 200px;}
.surati8{padding-left: 37px;}
.mart10{background-color: #FFC700;width: 1370px;height: 391px;margin-top: -4px;margin-left: 37px;font-size: 14px; }
.statia8{padding-left: 10px;padding-top: 36px;}